@font-face {
    font-family: 'Regular';
    src: url(../fonts/Barlow-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Medium';
    src: url(../fonts/Barlow-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'SemiBold';
    src: url(../fonts/Barlow-SemiBold.ttf);
    font-weight: 600;
}